*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
  }
  
  .main-container{
    width: 90%;
    margin:auto;
    background: #ccc;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  body{
    width: 100%;
  }
  
  header{
    display:flex;
  }
  .toolbar{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-flow: row;
  }
  
  .menu{
    position: absolute;
    width: 21px;
    height: 14px;
    left: 284px;
    top: 19px;
  }
  
  .menu-shape{
    position: absolute;
    width: 111px;
    height: 74px;
    left: -2px;
    top: 0px;
  }
  
  .headline{
    display: flexbox;
    flex-direction: column;
    align-items: center;
    
  }
  
  .my-name{
    position: absolute;
    width: 220px;
    height: 100px;
    left: 16px;
    top: 104px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 100%;
    color: #1A2236;  
  }
  
  .myname-intro{
    position: absolute;
    width: 288px;
    height: 147px;
    left: 16px;
    top: 221px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #1A2236;
    list-style-type: none;
  }
  
  .links{
    display:flex;
    flex-direction: column;
    align-items: center;
  
  }
  .collaboration-button{
    position: absolute;
    width: 203.68px;
    height: 26.47px;
    left: 58px;
    top: 402px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
  
    box-sizing: border-box;
  
    position: absolute;
    width: 288px;
    height: 50px;
    left: 16px;
    top: 390px;
    background: #1A2236;
  }
  
  .main-bottom-shape{
    position: absolute;
    width: 320px;
    height: 160px;
    left: 0px;
    top: 472px;
  }

  
  <footer>
  <img class="main-bottom-shape" src="images/image_geometry_2.png">
</footer>

<meta http-equiv="X-UA-Compatible" content="ie=edge">