* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
  width: 375px;
  max-height: 460px;
  margin:auto;  
   
}

.main-container {
  width: 100%;
  height: 460px;
  margin:auto;
  background: white;
}

header { 
  width: 320px;
  background: white;
  display: flex;
  flex-direction: column;
}

.toolbar {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-flow: row-reverse;
  background: white;
  flex-wrap: wrap;
  }

.menu {
  margin-right: 14px;
  margin-top: 19px; 
  width: 21px;
  height: 14px;
  left: 284px;
  top: 19px;
  display: flex;
}

.menu-shape {
  width: 111px;
  height: 74px;
  margin-left: -2px;
  top: 0px;
  display: flex;
}

.headline {
  margin-left: 16px;
  width: 100%;
  height: 336px;
  left: 16px;
  top: 104px;
  display: flex;
  flex-direction: column;
  align-content: stretch; 
}

.my-name {
  width: 100%;
  height: 100px;
  left: 16px;
  top: 104px;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1A2236;
  list-style-type: none;  
}

.myname-intro {
  margin-right: 14px;
  width: 100%;
  height: 147px;
  left: 16px;
  top: 221px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1A2236;
  list-style-type: none;
}

.collaboration-button {
  margin-left: 16px;
  width: 100%;
  height: 26.47px;
  left: 58px;
  top: 402px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  box-sizing: border-box;
  width: 288px;
  height: 50px;
  left: 16px;
  top: 390px;
  cursor: pointer;
  background: #1A2236;
}

.collaboration-button :hover {
    background-color: #3e8e41;
  }
  