* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  display: flex;
  width: 100vw;
  flex-direction: column;
  overflow-x: hidden;
}

header {
  width: 100vw;
  height: 20vw;
  background-color: #fff;
  background-image: url('Images SVG/image_geometry_1.svg');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
}

.nav-bar {
  display: none;
  width: 100%;
  height: 170vw;
  background-color: white;
  background-image: url('Images SVG/menumobile_imagegeometry1.svg'), url('Images SVG/menumobile_imagegeometry2.svg');
  background-position: left top, center bottom;
  background-repeat: no-repeat;
  background-size: 85vw 37vw, 100vw 45vw;
  position: fixed;
}

.nav-bar.active {
  display: block;
}

#closex {
  display: block;
  margin-left: 83vw;
  margin-top: 5vw;
}

.title-bar {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
  margin-top: 60vw;
  gap: 8vw;
  margin-left: 2vw;
}

.title-bar a {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 6vw;
  line-height: 24px;
  text-decoration: none;
  color: black;
}

.main-menu {
  display: flex;
  justify-content: end;
  margin-inline: 5vw;
  margin-block: 20px;
}

.main-menu img {
  width: 6.3vw;
  height: 4.4vw;
}

.headline {
  margin-block: 30px;
  margin-top: 25vw;
  margin-right: 18px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-left: 0;
}

.title {
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15.7vw;
  line-height: 100%;
  color: #1a2236;
  margin-inline: 5vw;
  padding-bottom: 5vw;
}

.myname-intro {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4.4vw;
  line-height: 6.6vw;
  letter-spacing: -0.01em;
  color: #1a2236;
  margin-inline: 5vw;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.button-box {
  width: 91.5vw;
  height: 15.7vw;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 5vw;
  line-height: 7.54vw;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background: #1a2236;
  margin-block: 5px;
  margin-inline: 5vw;
  transition-property: font-size;
  transition-duration: 4s;
}

.button-box:hover {
  background-color: #fff;
  color: #1a2236;
  border: 1px solid #1a2236;
  font-size: 7vw;
}

.dot-grid {
  display: none;
}

.image-projects {
  margin-top: 10vw;
}

.collage {
  display: none;
}

.menu-projects-main {
  display: none;
  width: 100vw;
  height: auto;
  flex-direction: column;
  background-color: #1a2236;
}

.projects-container {
  width: 90vw;
  height: 685vw;
  margin-left: 0;
  flex-direction: column;
}

.projects {
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15.7vw;
  line-height: 100%;
  color: #1a2236;
  margin-inline: 5vw;
  padding-bottom: 5vw;
}

.menuprojectsmaindots {
  display: none;
}

.menu-projects {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #1a2236;
}

.background-projects img {
  width: 100vw;
  object-fit: cover;
}

.projects-title {
  max-width: 100vw;
  height: 5vw;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 6.3vw;
  font-weight: 300;
  line-height: 80%;
  color: white;
  margin-block: 20px;
  margin-inline: 6.3vw;
  background-color: #1a2236;
}

.menu-languages {
  display: grid;
  height: 6.3vw;
  width: 78.61vw;
  grid-template-columns: repeat(3, 21.7vw);
  grid-gap: 3.14vw;
  list-style: none;
  padding: 0;
  margin-block: 20px;
  margin-inline: 20px;
}

.language-button {
  width: 21.7vw;
  height: 6.3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #98dede;
  font-family: Poppins, sans-serif;
  font-size: 2.8vw;
  font-weight: 300;
  line-height: 2.51vw;
}

.project-button-mobile {
  margin-inline: 20px;
  width: 56vw;
  height: 13.8vw;
  margin-block: 20px;
  border: 1px solid gainsboro;
  background: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 4vw;
  line-height: 7.5vw;
  text-align: center;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 5vw;
}

.project-button-mobile img {
  margin-inline: 2vw;
  width: 8vw;
  height: 6vw;
}

.popup-mobile {
  display: none;
  position: fixed;
  width: 100vw;
  height: 201vw;
  margin-top: 0;
  background-color: #fff;
  margin-left: 0;
  padding-left: 2vw;
}

.popup-desktop {
  display: none;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

#closexdescription {
  margin-left: 83vw;
}

.description-title {
  background-color: #fff;
  color: #1a2236;
  font-size: 5.5vw;
  font-weight: 800;
  margin-left: 5.5vw;
}

.description-languages {
  margin-left: 5.5vw;
  margin-bottom: 5vw;
}

.background-projects-description img {
  width: 81.3vw;
  margin-left: 5vw;
}

.description-intro {
  width: 81.3vw;
  font-size: 4.5vw;
  line-height: 5.6vw;
  letter-spacing: -0.01em;
  color: #1a2236;
  margin-inline: 5vw;
  animation-duration: 3s;
  animation-name: slidein;
  margin-bottom: 1vw;
}

.live-mobile,
.source-mobile {
  width: 81.3vw;
  height: 10vw;
  background-color: white;
  color: #1a2236;
  font-weight: 600;
  border: 1px #1a2236 solid;
  padding-left: 27vw;
  padding-bottom: 0.5vw;
  margin-left: 5vw;
  margin-bottom: 1vw;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.live-mobile img {
  margin-left: 14vw;
}

.source-mobile img {
  margin-left: 5vw;
}

.live,
.source {
  width: 81.3vw;
  height: 10vw;
  background-color: white;
  color: #1a2236;
  font-weight: 600;
  border: 1px #1a2236 solid;
  padding-left: 27vw;
  padding-bottom: 0.5vw;
  margin-left: 5vw;
  margin-bottom: 1vw;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.live img {
  margin-left: 14vw;
}

.source img {
  margin-left: 5vw;
}

#download-image {
  margin-inline: 3vw;
}

#downloadimageabout {
  margin-inline: 3vw;
}

#language-template {
  width: 91.5vw;
  height: 81.5vw;
  margin-block: 8.4vw;
  margin-inline: 5vw;
  background-color: #1c528a;
  display: flex;
  flex-direction: column;
}

#frameworks-template {
  margin-block: 5vw;
  margin-inline: 5vw;
  width: 91.5vw;
  height: 81.5vw;
  background-color: #e2505c;
  display: flex;
  flex-direction: column;
}

#skills-template {
  margin-block: 5vw;
  margin-inline: 5vw;
  width: 91.5vw;
  height: 90vw;
  background-color: #febf52;
  display: flex;
  flex-direction: column;
}

.templates-title {
  width: 41.5vw;
  height: 9.43vw;
  margin-top: 15.7vw;
  margin-left: 15.7vw;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 6.29vw;
  line-height: 9.43vw;
  color: white;
}

.list-container {
  width: 56vw;
  height: 42.45vw;
  margin-top: 6.6vw;
  margin-left: 20vw;
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  color: white;
}

.template-item {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 6vw;
  line-height: 7.49vw;
  letter-spacing: -0.0525em;
  color: white;
}

.about-skills {
  margin-left: 0;
}

.headlineabout {
  margin-block: 30px;
  margin-right: 18px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.about {
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15.7vw;
  line-height: 100%;
  color: #1a2236;
  margin-inline: 5vw;
  padding-bottom: 5vw;
}

.mynameintroabout {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4.4vw;
  line-height: 6.6vw;
  letter-spacing: -0.01em;
  color: #1a2236;
  margin-inline: 5vw;
}

.buttonboxabout {
  width: 91.5vw;
  height: 15.7vw;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 5vw;
  line-height: 7.54vw;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background: #1a2236;
  margin-block: 5px;
  margin-inline: 5vw;
}

.buttonboxabout:hover {
  background-color: #fff;
  color: #1a2236;
  border: 1px solid #1a2236;
}

.contact {
  background-image: url('Images SVG/image_geometry_1.svg');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 34.9vw 23.27vw;
  margin-top: 8.49vw;
  width: 100vw;
  padding-top: 30vw;
  margin-left: 0;
}

.headlinestarted {
  margin-block: 30px;
  margin-right: 18px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.contact-form {
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin-top: 4.4vw;
  gap: 0.314vw;
}

.form-row {
  display: flex;
  flex-direction: column;
  width: 100vw;
  gap: 1.26vw;
  margin-left: 2.5vw;
}

.form-row label {
  font-size: 3.14vw;
  font-weight: 400;
  line-height: 0.9;
  color: #7d7c84;
  font-family: "Poppins", serif;
  margin-inline: 5vw;
  padding-top: 1.5vw;
  margin-bottom: 3px;
}

.form-row input,
.form-row textarea {
  width: 91.5vw;
  border-radius: 1.25vw;
  border: 1px solid #dfdfe0;
  color: #1a2236;
  height: 52px;
  padding-top: 12px;
  padding-bottom: 8px;
  padding-left: 16px;
  font-size: 14px;
  font-family: "Poppins", serif;
  margin-left: 18px;
  margin-right: 18px;
  margin-bottom: 9px;
}

.form-row textarea {
  height: 52px;
  padding-left: 16px;
  padding-top: 14px;
  padding-bottom: 77px;
  font-size: 14px;
  overflow: hidden;
}

footer {
  background-color: #1a2236;
  color: #92dcdc;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 42.76vw;
  margin-top: 10vw;
}

.footer-resume {
  display: flex;
  align-items: center;
  gap: 4.4vw;
  margin-top: 8.8vw;
  font-size: 5vw;
  font-family: "Poppins", serif;
}

.footer-resume img {
  width: 6.91vw;
  height: 6.91vw;
}

.social-media {
  display: flex;
  list-style: none;
  margin-top: 7.54vw;
  justify-content: space-around;
  width: 90vw;
  margin-bottom: 11.32vw;
}

.social-media img {
  width: 7.55vw;
  height: 7.55vw;
}

#dot-grid-template {
  display: none;
}

.footer-resume-desktop {
  display: none;
}

.popup-project-mobile {
  display: none;
  margin-bottom: 5vw;
  margin-left: 5vw;
}

.popup-desktop-title {
  width: 80vw;
  height: 7vw;
  margin-left: 5vw;
  margin-top: 5vw;
  display: flex;
  flex-direction: row;
}

.projectdesktoptitlepopup {
  width: 80vw;
  height: 6vw;
  color: #1a2236;
  font-family: Poppins, sans-serif;
  font-size: 4vw;
  font-weight: 700;
  line-height: 1.5vw;
  letter-spacing: 0;
  padding-top: 2vw;
  margin-left: 0.5vw;
}

.desktoppopxmobile {
  width: 45vw;
  height: 5vw;
  padding-top: 0.5vw;
  text-align: right;
}

.desktoppopx img {
  width: 4vw;
}

.desktoppop-languages {
  margin-left: 5.5vw;
  margin-top: 0;
  margin-bottom: 2vw;
}

.popdesktop {
  background-color: white;
  border: 1px #1a2236 solid;
}

.previous-next-arrows {
  display: flex;
  justify-content: space-between;
  margin-left: 0;
  gap: 10vw;
}

#main-background1 img {
  width: 100vw;
  object-fit: cover;
  padding-bottom: 5vw;
}

#main-background2 {
  display: none;
}

#main-background2 img {
  display: none;
}

.cv-image {
  margin-left: 2vw;
  margin-top: 0.5vw;
}

@media screen and (min-width: 768px) {
  .nav-bar {
    display: flex;
    background-color: white;
    background-image: none;
    margin-left: 7vw;
    height: 5vw;
    margin-bottom: 0;
  }

  #closex {
    display: none;
  }

  header {
    display: none;
  }

  .title-bar {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    gap: 2.5vw;
    padding-left: 36vw;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6vw;
    line-height: 24px;
    text-align: right;
    color: #1a2236;
    margin-top: 0;
  }

  .title-bar a {
    text-decoration: none;
    color: #1a2236;
  }

  .headline {
    width: 110vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 5vw;
    margin-top: -2vw;
    margin-left: 0;
    gap: 4vw;
  }

  .main {
    display: flex;
    flex-wrap: wrap;
    width: 41vw;
    height: 30vw;
    margin-top: 10.7vw;
    margin-left: 5vw;
  }

  .image-projects {
    margin-top: 0;
  }

  .title,
  .myname-intro,
  .button-box,
  .dot-grid {
    width: 100%;
  }

  .title {
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 8vw;
    line-height: 100%;
    color: #1a2236;
    margin-inline: 5vw;
    padding-bottom: 0;
    height: 10vw;
  }

  .myname-intro {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.9vw;
    line-height: 1.5vw;
    letter-spacing: -0.01em;
    color: #1a2236;
    margin-inline: 5vw;
    margin-top: 8vw;
  }

  .button-box {
    width: 15vw;
    height: 4vw;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 0.54vw;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background: #1a2236;
    margin-block: 2vw;
    margin-inline: 5vw;
  }

  .button-box:hover {
    background-color: #fff;
    color: #1a2236;
    border: 1px solid #1a2236;
    font-size: 1.5vw;
  }

  .dot-grid {
    display: block;
    margin-left: 32vw;
    margin-top: 7.5vw;
  }

  .dot-grid img {
    width: 12vw;
  }

  .image-projects {
    width: 50vw;
    margin-top: 3vw;
  }

  .dot-grid-projects img {
    width: 12vw;
  }

  .projects-container {
    width: 100vw;
    height: 115vw;
    display: grid;
    grid-template-rows: 38.25vw 24.55vw 31.1vw 7vw 32.3vw;
    grid-template-columns: 11vw 11vw 11vw 11vw 11vw 11vw 34vw;
    row-gap: 0;
    column-gap: 0;
    margin-top: 5vw;
    margin-left: 0;
  }

  .project-description {
    display: none;
  }

  .blogapp {
    margin-top: 63vw;
  }

  .projects {
    grid-area: 1/2/1/2;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 5.7vw;
    margin-inline: 0;
    padding-bottom: 0;
    align-self: start;
    margin-left: 3vw;
    margin-top: 10vw;
  }

  .dot-grid-projects {
    display: block;
    grid-area: 1/3/1/3;
    margin-top: 0;
  }

  .menu-projects-main {
    display: flex;
    grid-area: 1/4/1/6;
    width: 65vw;
    height: 38.75vw;
    background-image: url('images/Projects2.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 2vw;
  }

  .goes-here-section {
    grid-area: 1/4/1/6;
    height: 25vw;
    background-color: #1a2236;
    margin-top: 14vw;
  }

  .projects-title {
    max-width: 100vw;
    height: 5vw;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 4.3vw;
    font-weight: 300;
    line-height: 80%;
    color: white;
    margin-block: 20px;
    margin-inline: 3vw;
    background-color: #1a2236;
    padding-top: 1vw;
  }

  .menu-languages {
    display: grid;
    height: 6.3vw;
    width: 66.6vw;
    grid-template-columns: repeat(3, 12.7vw);
    grid-gap: 0.6vw;
    list-style: none;
    padding: 0;
    margin-block: 20px;
    margin-inline: 3vw;
  }

  .language-button {
    width: 11.7vw;
    height: 3.3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #98dede;
    font-family: Poppins, sans-serif;
    font-size: 1.14vw;
    font-weight: 300;
    line-height: 2.51vw;
  }

  .project-button {
    margin-inline: 3vw;
    width: 16vw;
    height: 3.8vw;
    border: 1px solid gainsboro;
    background: #1a2236;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 1.5vw;
    text-align: center;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 2vw;
  }

  .project-button img {
    margin-inline: 2vw;
    width: 2vw;
    height: 1.5vw;
  }

  .collage1 {
    display: block;
    grid-row: 2;
    grid-column: 4;
    margin-top: 0.5vw;
  }

  .collage1 img {
    width: 35.4vw;
    height: 24.3vw;
  }

  .backgroundprojects2 {
    display: block;
    grid-area: 2/1/2/3;
    margin-top: 6vw;
  }

  .backgroundprojects2 img {
    width: 32.5vw;
    height: 18.75vw;
  }

  .menuprojectsmaindots {
    display: block;
    grid-row: 2;
    grid-column: 7;
    width: 31.5vw;
    height: 9.6vw;
    margin-left: 2.4vw;
    margin-top: 0.5vw;
    background-image: url('images/met-art-desktop.jpg');
    background-size: cover;
  }

  .menuprojectsmaindots img {
    display: block;
    width: 31.7vw;
    margin-top: -0.5vw;
  }

  #dots {
    grid-row: 2;
    grid-column: 7;
    width: 31.5vw;
    height: 17.75;
    background-color: #1a2236;
    margin-top: 9.2vw;
    padding-bottom: 2vw;
  }

  .projectstitledots {
    max-width: 100vw;
    height: 5vw;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 2.4vw;
    font-weight: 300;
    line-height: 80%;
    color: white;
    margin-block: 6px;
    margin-inline: 3vw;
    background-color: #1a2236;
    padding-top: 2vw;
  }

  .menulanguagesdots {
    display: grid;
    height: 3.6vw;
    width: 60.6vw;
    grid-template-columns: 10vw 10vw 10vw;
    grid-gap: 0.2vw;
    list-style: none;
    padding: 0;
    margin-block: 6px;
    margin-inline: 3vw;
  }

  .languagebuttondots {
    width: 8.6vw;
    height: 2.3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #98dede;
    font-family: Poppins, sans-serif;
    font-size: 1.2vw;
    font-weight: 300;
    line-height: 2.51vw;
  }

  .projectbuttondots {
    margin-inline: 3vw;
    width: 16vw;
    height: 3.4vw;
    border: 1px solid gainsboro;
    background: #1a2236;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 1.5vw;
    text-align: center;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 2vw;
  }

  .projectbuttondots img {
    display: block;
    margin-left: 2vw;
    width: 2vw;
    height: 2vw;
    padding-top: 0.5vw;
  }

  .backgroundprojects3 {
    display: block;
    grid-row: 3;
    grid-column: 1;
    width: 56.2vw;
    height: 31vw;
    background-image: url('images/Projects1.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .backgroundprojects3 img {
    display: none;
  }

  .rhombus {
    display: block;
    grid-row: 3;
    grid-column: 5;
    margin-left: 12.2vw;
    margin-top: 20vw;
  }

  .rhombus img {
    width: 11.2vw;
    height: 11.2vw;
  }

  .twosquares {
    display: block;
    grid-row: 3;
    grid-column: 7;
    margin-top: 12.9vw;
    margin-left: 9.33vw;
  }

  .twosquares img {
    width: 24.36vw;
    height: 11.18;
  }

  .bluesquare {
    display: block;
    grid-row: 4;
    grid-column: 1;
  }

  .bluesquare img {
    width: 7vw;
    height: 7vw;
  }

  .pinkball {
    display: block;
    grid-row: 4;
    grid-column: 1;
    margin-left: 6.9vw;
    margin-top: 0.9vw;
  }

  .pinkball img {
    width: 6.1vw;
    height: 6.1vw;
  }

  .yellowball {
    display: block;
    grid-row: 4;
    grid-column: 5;
    margin-left: 5.8vw;
  }

  .backgroundprojects4 {
    display: block;
    grid-row: 4;
    grid-column: 5;
    margin-left: 12.2vw;
  }

  .backgroundprojects4 img {
    width: 32.3vw;
    height: 18.75vw;
  }

  .backgroundprojects5 {
    display: block;
    grid-row: 2;
    grid-column: 7;
    margin-top: 0.5vw;
    margin-left: 2.2vw;
  }

  .backgroundprojects5 img {
    display: block;
    width: 31.5vw;
    height: auto;
  }

  .menu-projects {
    display: none;
  }

  .about-skills {
    width: 90vw;
    height: 50vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-left: -2.1vw;
    margin-right: 4vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    gap: 18vw;
  }

  #templates-container {
    width: 40.23vw;
    height: 40.23vw;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0;
  }

  #language-template {
    grid-row: 1;
    grid-column: 1;
    width: 20.1vw;
    height: 20.1vw;
    background-color: #1c528a;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0;
  }

  #frameworks-template {
    grid-row: 1;
    grid-column: 2;
    width: 20.1vw;
    height: 20.1vw;
    background-color: #e2505c;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0;
  }

  #skills-template {
    grid-row: 2;
    grid-column: 1;
    width: 20.1vw;
    height: 20.1vw;
    background-color: #febf52;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0;
  }

  #dot-grid-template {
    display: block;
    grid-row: 2;
    grid-column: 2;
    background-image: url('Images SVG/Bluesquare.svg');
    background-repeat: no-repeat;
    background-size: 4.3vw;
    background-position: right top;
    margin-left: 4.7vw;
    padding-top: 4vw;
    margin-top: 5vw;
  }

  .templates-title {
    width: 8vw;
    height: 3vw;
    margin-top: 3vw;
    margin-left: 5.7vw;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 1.29vw;
    line-height: 1.83vw;
    color: white;
  }

  .list-container {
    width: 11vw;
    height: 8vw;
    display: flex;
    flex-direction: column;
    list-style-type: disc;
    color: white;
    margin: 1.5vw 0 0 7vw;
  }

  .template-item {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1vw;
    line-height: 1.7vw;
    letter-spacing: -0.0125em;
    color: white;
  }

  .headlineabout {
    margin-block: 3vw;
    width: 40vw;
    height: 40vw;
    display: flex;
    flex-direction: column;
    align-content: left;
  }

  .desktop-description {
    width: 22.5vw;
    padding-left: 1.5vw;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 1.5vw;
    letter-spacing: -0.01em;
    color: #1a2236;
    margin-inline: 1vw;
    animation-duration: 3s;
    animation-name: slidein;
  }

  .about {
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 7.7vw;
    line-height: 100%;
    color: #1a2236;
    padding-bottom: 1vw;
  }

  .mynameintroabout {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.95vw;
    line-height: 1.6vw;
    letter-spacing: -0.01em;
    color: #1a2236;
    padding-bottom: 1vw;
  }

  .buttonboxabout {
    width: 18.5vw;
    height: 3vw;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6vw;
    line-height: 2vw;
    color: #fff;
    cursor: pointer;
    background: #1a2236;
    padding-bottom: 4.5vw;
    padding-left: 0;
  }

  .buttonboxabout img {
    width: 2.5vw;
    margin-left: 1vw;
    margin-top: 0.5vw;
  }

  .contact {
    background-image: url('Images SVG/image-geometry_6.svg'), url('Images SVG/image-geometry_7.svg');
    background-position: left top, right bottom;
    background-repeat: no-repeat;
    background-size: 24.3vw 24.3vw;
    width: 101.5vw;
    height: 62vw;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    margin-left: -3vw;
  }

  .headlinestarted {
    width: 40vw;
    margin-bottom: 0;
    margin-top: 0;
  }

  .get {
    margin-left: 35vw;
    margin-right: 35vw;
    margin-top: 10vw;
    padding-bottom: 0;
    font-size: 7.5vw;
    line-height: 100%;
    font-family: 400;
    height: 8vw;
  }

  .started {
    width: 36vw;
    height: 4vw;
    font-size: 1.3vw;
    text-align: left;
    font-weight: 400;
    margin-top: 1vw;
    margin-left: 36vw;
    margin-right: 35vw;
    padding-right: 0;
  }

  form {
    width: 100vw;
    height: 40vw;
  }

  .name-email {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
    margin-left: 8vw;
  }

  .form-row {
    display: flex;
    flex-direction: column;
    width: 18.5vw;
    gap: 0.4vw;
    align-items: left;
  }

  .form-row label {
    width: 10vw;
    font-size: 0.9vw;
    font-weight: 400;
    line-height: 0.7;
    color: #7d7c84;
    font-family: "Poppins", serif;
    margin-left: 1.2vw;
  }

  .form-row input {
    width: 14vw;
    border-radius: 0.3vw;
    border: 1px solid #dfdfe0;
    color: #1a2236;
    height: 3vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 0.8vw;
    font-size: 0.8vw;
    font-family: "Poppins", serif;
    margin-bottom: 1vw;
    margin-left: 1vw;
  }

  #label-textarea {
    margin-left: 33.2vw;
  }

  .form-row textarea {
    margin-left: 33vw;
    width: 37vw;
    height: 10vw;
    font-size: 16px;
    overflow: hidden;
    border-radius: 0.3vw;
    border: 1px solid #dfdfe0;
    color: #1a2236;
    font-family: "Poppins", serif;
    margin-bottom: 9px;
  }

  #contact-button {
    margin-left: 41vw;
    height: 8vw;
  }

  footer {
    background-color: #1a2236;
    color: #92dcdc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 12.76vw;
  }

  .footer-resume {
    display: none;
  }

  .footer-resume-desktop {
    display: flex;
    align-items: center;
    gap: 2.4vw;
    margin-top: 1vw;
    font-size: 1.7vw;
    font-family: "Poppins", serif;
    width: 15vw;
    margin-left: 10vw;
  }

  .footer-resume-desktop img {
    width: 2vw;
    height: 2vw;
  }

  .social-media {
    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 2vw;
    width: 30vw;
    margin-top: 12vw;
    margin-right: 10vw;
  }

  .social-media img {
    width: 2vw;
    height: 2vw;
  }

  .background-projects img {
    display: none;
  }

  .popup-mobile {
    display: none;
  }

  .popup-desktop {
    display: none;
    position: fixed;
    width: 33vw;
    height: 45vw;
    margin-left: 30vw;
    border: 30px #1a2236 solid;
    background-color: #dfdfe0;
  }

  .popup-desktop-title {
    width: 25vw;
    height: 3vw;
    margin-left: 2vw;
    margin-top: 1vw;
    display: flex;
    flex-direction: row;
  }

  .projectdesktoptitlepopup {
    width: 80vw;
    height: 6vw;
    color: #1a2236;
    font-family: Poppins, sans-serif;
    font-size: 2vw;
    font-weight: 700;
    line-height: 1.5vw;
    letter-spacing: 0;
    padding-top: 2vw;
  }

  .desktoppopx {
    width: 10vw;
    height: 5vw;
    padding-top: 1.5vw;
    text-align: center;
    margin-left: 2vw;
  }

  .desktoppopx img {
    width: 2vw;
  }

  .desktoppop-languages {
    margin-left: 2.5vw;
    margin-top: 2vw;
    margin-bottom: 0;
    width: 1vw;
    height: 0.5vw;
    grid-template-columns: repeat(3, 4vw);
    grid-gap: 1.5vw;
  }

  .popdesktop {
    background-color: white;
    border: 1px #1a2236 solid;
    width: 5vw;
    height: 2vw;
    font-size: 0.6vw;
  }

  .background-projects-description {
    margin-left: -0.5vw;
  }

  .description-intro {
    width: 15vw;
    margin-left: 6vw;
    margin-top: 0.5vw;
    font-size: 0.8vw;
    line-height: 0.7vw;
  }

  .desktop-popup-buttons {
    margin-left: 2.5vw;
    width: 20vw;
    height: 1vw;
  }

  .live {
    float: left;
    background-color: white;
    color: #1a2236;
    width: 8vw;
    height: 2vw;
    font-size: 0.7vw;
    line-height: 0.5vw;
    padding-left: 1.5vw;
    padding-right: 0;
    margin-block: 1vw;
    margin-inline: 0;
    border: 0.1px #1a2236 solid;
    padding-bottom: 0;
  }

  .live img {
    width: 0.8vw;
    margin-left: 0.6vw;
    padding-bottom: 0.2vw;
  }

  .source {
    float: right;
    color: white;
    padding-left: 1.5vw;
    width: 8vw;
    height: 2vw;
    line-height: 0.5vw;
    margin-block: 1vw;
    margin-inline: 0;
    font-size: 0.7vw;
    border: 0.1px #1a2236 solid;
    padding-bottom: 0;
  }

  .source img {
    width: 1vw;
    margin-inline: 0.7vw;
    margin-bottom: 0.2vw;
  }

  .previous-next-arrows {
    margin-top: 2.5vw;
    margin-left: 1vw;
    height: 1vw;
    gap: 0;
  }

  #next-button {
    margin-left: 12vw;
    margin-top: 0;
  }

  #previous-button {
    margin-left: 1vw;
    margin-top: 0;
  }

  .background-projects-description img {
    margin-left: 3vw;
    width: 20.5vw;
    margin-top: 2vw;
  }

  #next-button img {
    width: 4vw;
    margin-left: 2vw;
  }

  #previous-button img {
    width: 5vw;
  }

  #dot-grid-template img {
    display: block;
    width: 11.1vw;
  }

  .popup-project-mobile {
    display: none;
  }

  #main-background1 img {
    display: none;
  }

  #main-background2 img {
    display: block;
    width: 48.75vw;
    height: 60.9vw;
  }

  #main-background2 {
    display: block;
    width: 100%;
  }
}
