* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

header {
  width: 100vw;
  height: 20vw;
  background-color: #fff;
  background-image: url('Images SVG/image_geometry_1.svg');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
}

.main-menu {
  display: flex;
  justify-content: end;
  margin-inline: 5vw;
  margin-block: 20px;
}

.main-menu img {
  width: 6.3vw;
  height: 4.4vw;
}

.headline {
  margin-block: 30px;
  margin-right: 18px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.title {
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15.7vw;
  line-height: 100%;
  color: #1a2236;
  margin-inline: 5vw;
  padding-bottom: 5vw;
  border: 1px solid #7d7c84;
  display: block;
  transition: width 2s, height 2s, background-color 2s, rotate 2s;

}
.title :hover {
  background-color: #febf52;
  width: 20vw;
  height: 20vw;
  rotate: 180deg;
}

.myname-intro {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4.4vw;
  line-height: 6.6vw;
  letter-spacing: -0.01em;
  color: #1a2236;
  margin-inline: 5vw;
  animation-duration: 3s;
  animation-name: slidein;

}
@keyframes slidein {
from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.button-box {
  width: 91.5vw;
  height: 15.7vw;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 5vw;
  line-height: 7.54vw;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background: #1a2236;
  margin-block: 5px;
  margin-inline: 5vw;
  transition-property: font-size;
  transition-duration: 4s;

}

.button-box:hover {
  background-color: #fff;
  color: #1a2236;
  border: 1px solid #1a2236;
  font-size: 7vw;
}

.projects-container {
  width: 90vw;
  height: auto;
  display: flex;
  flex-direction: column;
}

.menu-projects {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #1a2236;
}

.background-projects img {
  width: 100vw;
  object-fit: cover;
}

.projects-title {
  max-width: 100vw;
  height: 5vw;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 6.3vw;
  font-weight: 300;
  line-height: 80%;
  color: white;
  margin-block: 20px;
  margin-inline: 6.3vw;
  background-color: #1a2236;
}

.menu-languages {
  display: grid;
  height: 6.3vw;
  width: 78.61vw;
  grid-template-columns: repeat(3, 21.7vw);
  grid-gap: 3.14vw;
  list-style: none;
  padding: 0;
  margin-block: 20px;
  margin-inline: 20px;
}

.language-button {
  width: 21.7vw;
  height: 6.3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #98dede;
  font-family: Poppins, sans-serif;
  font-size: 3.14vw;
  font-weight: 300;
  line-height: 2.51vw;
}

.project-button {
  margin-inline: 20px;
  width: 56vw;
  height: 13.8vw;
  margin-block: 20px;
  border: 1px solid gainsboro;
  background: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 5vw;
  line-height: 7.5vw;
  text-align: center;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 5vw;
}

.project-button img {
  margin-inline: 2vw;
  width: 8vw;
  height: 6vw;
}

#download-image {
  margin-inline: 3vw;
}

#language-template {
  width: 81.5vw;
  height: 81.5vw;
  margin-block: 8.4vw;
  margin-inline: 5vw;
  background-color: #1c528a;
  display: flex;
  flex-direction: column;
}

#frameworks-template {
  margin-block: 5vw;
  margin-inline: 5vw;
  width: 81.5vw;
  height: 81.5vw;
  background-color: #e2505c;
  display: flex;
  flex-direction: column;
}

#skills-template {
  margin-block: 5vw;
  margin-inline: 5vw;
  width: 81.5vw;
  height: 90vw;
  background-color: #febf52;
  display: flex;
  flex-direction: column;
}

.templates-title {
  width: 41.5vw;
  height: 9.43vw;
  margin-top: 15.7vw;
  margin-left: 15.7vw;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 6.29vw;
  line-height: 9.43vw;
  color: white;
}

.list-container {
  width: 56vw;
  height: 42.45vw;
  margin-top: 6.6vw;
  margin-left: 15.7vw;
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  color: white;
}

.template-item {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 5.67;
  line-height: 8.49vw;
  letter-spacing: -0.0525em;
  color: white;
}

.contact {
  background-image: url('Images SVG/image_geometry_1.svg');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 34.9vw 23.27vw;
  margin-top: 8.49vw;
  width: 100vw;
  padding-top: 30vw;
}

.contact-form {
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin-top: 4.4vw;
  gap: 0.314vw;
}

.form-row {
  display: flex;
  flex-direction: column;
  width: 100vw;
  gap: 1.26vw;
}

.form-row label {
  font-size: 3.14vw;
  font-weight: 400;
  line-height: 0.9;
  color: #7d7c84;
  font-family: "Poppins", serif;
  margin-inline: 5vw;
  padding-top: 1.5vw;
  margin-bottom: 3px;
}

.form-row input,
.form-row textarea {
  width: 91.5vw;
  border-radius: 1.25vw;
  border: 1px solid #dfdfe0;
  color: #1a2236;
  height: 52px;
  padding-top: 23px;
  padding-bottom: 8px;
  padding-left: 16px;
  font-size: 14px;
  font-family: "Poppins", serif;
  margin-left: 18px;
  margin-right: 18px;
  margin-bottom: 9px;
}

.form-row textarea {
  height: 52px;
  padding-left: 16px;
  padding-top: 14px;
  padding-bottom: 77px;
  font-size: 14px;
  overflow: hidden;
}

footer {
  background-color: #1a2236;
  color: #92dcdc;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 42.76vw;
}

.footer-resume {
  display: flex;
  align-items: center;
  gap: 4.4vw;
  margin-top: 8.8vw;
  font-size: 5vw;
  font-family: "Poppins", serif;
}

.footer-resume img {
  width: 6.91vw;
  height: 6.91vw;
}

.social-media {
  display: flex;
  list-style: none;
  margin-top: 7.54vw;
  justify-content: space-around;
  width: 90vw;
  margin-bottom: 11.32vw;
}

.social-media img {
  width: 7.55vw;
  height: 7.55vw;
}

#image-projects img {
  width: 100vw;
  object-fit: cover;
  padding-bottom: 10vw;
}
