* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 375px;
  max-height: 4060px;
  margin: auto;
}

.main-container {
  width: 100%;
  height: 4060px;
  margin: auto;
  background: white;
  display: flex;
  flex-direction: column;
}

header {
  width: 320px;
  height: 74px;
  background-image: url('images/image_geometry_1.jpg');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: auto 100%;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.menu {
  margin-top: 19px;
  width: 21px;
  height: 14px;
  margin-left: 284px;
}

.headline {
  margin-left: 16px;
  width: 288px;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

h1 {
  width: 100%;
  height: 130px;
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
  display: flex;
}

.myname-intro {
  margin-right: 14px;
  width: 100%;
  height: 147px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
  display: flex;
}

.collaboration-box {
  margin-left: 16px;
  margin-top: 25px;
  width: 288px;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background: #1a2236;
}

.collaboration-box :hover {
  background-color: #3e8e41;
}

.headline-projects-container {
  margin-top: 32px;
  width: 100%;
  height: 282px;
  display:flex;
  flex-direction: column;
}

.project-title {
  width: 181px;
  height: 50px;
  margin-top: 40px;
  margin-left: 16px;  
}

.menu-projects {
  width: 318px;
  height: 352px;
  background-image: url('images/Projects1.jpg');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 100% 186px;
  background-color: #1a2236;
  display: flex;
  flex-direction: column;
}

h3 {
  width: 264px;
  height: 16px;  
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 80%;
  color: white;
  margin-top: 20px;
  margin-left: 20px;
  background-color: #1a2236;
}

.menu-languages {
  display: grid;
  height: 20px;
  width: 250px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  list-style: none;
  padding: 0px;
  margin-top: 20px;
  margin-left: 20px;
}

.language-button1 {
  width: 69px;
  height: 20px;
  text-align: center;
  background-color: #98dede;
}

.language-button2 {
  width: 87px;
  height: 20px;
  text-align: center;
  background-color: #98dede;
}

.language-button3 {
  width: 74px;
  height: 20px;
  text-align: center;
  background-color: #98dede;
}

.text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 10.3334px;
  line-height: 80%;
  color: #1a2236;
}

.project-button {
  margin-left: 20px;
  width: 178px;
  height: 44px;
  margin-top: 20px;
  border: 1px solid gainsboro;
  background: #1a2236;
}

.button-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: white;
}

#Flecha {
  margin-left: 10px;
}

#descarga {
  margin-left: 10px;
}

.about-me-skills {
  height: 926 px;
  width: 289px;    
}

.languages-template {
  margin-top: 27px;
  margin-left: 16px;
  width: 100%;
  height: 289px;
  background: #1c528A;
  display: flex;
  flex-direction: column;
}

.templates-title {
  width: 132px;
  height: 30px;
  margin-top: 50px;
  margin-left: 50px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: white;
}

.list-container-languages {
  width: 178px;
  height: 135px;
  margin-top: 21px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  color: white;  
}

.list-container-frame {
  width: 121px;
  height: 108px;
  margin-top: 21px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  color: white;  
}

.list-container-skills {
  width: 213px;
  height: 135px;
  margin-top: 21px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  color: white;  
}

.template-item {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: white;
}

.frameworks-template {
  margin-top: 16px;
  margin-left: 16px;
  width: 100%;
  height: 289px;
  background: #E2505C;
  display: flex;
  flex-direction: column;
}

.skills-template {
  margin-top: 16px;
  margin-left: 16px;
  width: 100%;
  height: 289px;
  background: #FEBF52;
  display: flex;
  flex-direction: column;
}
