* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  display: flex;
  width: 100vw;
  flex-direction: column;
}

.nav-bar {
  width: 100vw;
  height: 5vw;
  display: none;
}

.title-bar {
  display: none;  
}

header {
  width: 100vw;
  height: 20vw;
  background-color: #fff;
  background-image: url('Images SVG/image_geometry_1.svg');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
}

.main-menu {
  display: flex;
  justify-content: end;
  margin-inline: 5vw;
  margin-block: 20px;
}

.main-menu img {
  width: 6.3vw;
  height: 4.4vw;
}

.headline {
  margin-block: 30px;
  margin-right: 18px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.title {
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15.7vw;
  line-height: 100%;
  color: #1a2236;
  margin-inline: 5vw;
  padding-bottom: 5vw;
}

.myname-intro {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4.4vw;
  line-height: 6.6vw;
  letter-spacing: -0.01em;
  color: #1a2236;
  margin-inline: 5vw;
}

.button-box {
  width: 91.5vw;
  height: 15.7vw;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 5vw;
  line-height: 7.54vw;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background: #1a2236;
  margin-block: 5px;
  margin-inline: 5vw;
}

.button-box:hover {
  background-color: #fff;
  color: #1a2236;
  border: 1px solid #1a2236;
}

.image-projects {
  margin-top: 32.31px;
}

.dot-grid {
  display: none;
}

.projects-container {
  width: 90vw;
  height: auto;
  display: flex;
  flex-direction: column;
}

.title-projects {
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15.7vw;
  line-height: 100%;
  color: #1a2236;
  margin-inline: 5vw;
  padding-bottom: 5vw;
}

.dot-grid-projects {
  display: none;
}

.menu-projects-main {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #1a2236;
}

.menu-projects {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #1a2236;
}

.background-projects img {
  width: 100vw;
  object-fit: cover;
}

.projects-title {
  max-width: 100vw;
  height: 5vw;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 6.3vw;
  font-weight: 300;
  line-height: 80%;
  color: white;
  margin-block: 20px;
  margin-inline: 6.3vw;
  background-color: #1a2236;
}

.menu-languages {
  display: grid;
  height: 6.3vw;
  width: 78.61vw;
  grid-template-columns: repeat(3, 21.7vw);
  grid-gap: 3.14vw;
  list-style: none;
  padding: 0;
  margin-block: 20px;
  margin-inline: 20px;
}

.language-button {
  width: 21.7vw;
  height: 6.3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #98dede;
  font-family: Poppins, sans-serif;
  font-size: 3.14vw;
  font-weight: 300;
  line-height: 2.51vw;
}

.project-button {
  margin-inline: 20px;
  width: 56vw;
  height: 13.8vw;
  margin-block: 20px;
  border: 1px solid gainsboro;
  background: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 5vw;
  line-height: 7.5vw;
  text-align: center;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 5vw;
}

.project-button img {
  margin-inline: 2vw;
  width: 8vw;
  height: 6vw;
}

#download-image {
  margin-inline: 3vw;
}

#language-template {
  width: 81.5vw;
  height: 81.5vw;
  margin-block: 8.4vw;
  margin-inline: 5vw;
  background-color: #1c528a;
  display: flex;
  flex-direction: column;
}

#frameworks-template {
  margin-block: 5vw;
  margin-inline: 5vw;
  width: 81.5vw;
  height: 81.5vw;
  background-color: #e2505c;
  display: flex;
  flex-direction: column;
}

#skills-template {
  margin-block: 5vw;
  margin-inline: 5vw;
  width: 81.5vw;
  height: 90vw;
  background-color: #febf52;
  display: flex;
  flex-direction: column;
}

.templates-title {
  width: 41.5vw;
  height: 9.43vw;
  margin-top: 15.7vw;
  margin-left: 15.7vw;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 6.29vw;
  line-height: 9.43vw;
  color: white;
}

.list-container {
  width: 56vw;
  height: 42.45vw;
  margin-top: 6.6vw;
  margin-left: 15.7vw;
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  color: white;
}

.template-item {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 5.67;
  line-height: 8.49vw;
  letter-spacing: -0.0525em;
  color: white;
}

.contact {
  background-image: url('Images SVG/image_geometry_1.svg');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 34.9vw 23.27vw;
  margin-top: 8.49vw;
  width: 100vw;
  padding-top: 30vw;
}

.contact-form {
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin-top: 4.4vw;
  gap: 0.314vw;
}

.form-row {
  display: flex;
  flex-direction: column;
  width: 100vw;
  gap: 1.26vw;
}

.form-row label {
  font-size: 3.14vw;
  font-weight: 400;
  line-height: 0.9;
  color: #7d7c84;
  font-family: "Poppins", serif;
  margin-inline: 5vw;
  padding-top: 1.5vw;
  margin-bottom: 3px;
}

.form-row input,
.form-row textarea {
  width: 91.5vw;
  border-radius: 1.25vw;
  border: 1px solid #dfdfe0;
  color: #1a2236;
  height: 52px;
  padding-top: 23px;
  padding-bottom: 8px;
  padding-left: 16px;
  font-size: 14px;
  font-family: "Poppins", serif;
  margin-left: 18px;
  margin-right: 18px;
  margin-bottom: 9px;
}

.form-row textarea {
  height: 52px;
  padding-left: 16px;
  padding-top: 14px;
  padding-bottom: 77px;
  font-size: 14px;
  overflow: hidden;
}

footer {
  background-color: #1a2236;
  color: #92dcdc;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 42.76vw;
}

.footer-resume {
  display: flex;
  align-items: center;
  gap: 4.4vw;
  margin-top: 8.8vw;
  font-size: 5vw;
  font-family: "Poppins", serif;
}

.footer-resume img {
  width: 6.91vw;
  height: 6.91vw;
}

.social-media {
  display: flex;
  list-style: none;
  margin-top: 7.54vw;
  justify-content: space-around;
  width: 90vw;
  margin-bottom: 11.32vw;
}

.social-media img {
  width: 7.55vw;
  height: 7.55vw;
}

#main-background1 img {
  width: 100vw;
  object-fit: cover;
  padding-bottom: 5vw;
}

#main-background2 {
  display: none;
}

#dot-grid-template {
  display:none;
}

.footer-resume-desktop {
  display: none;
}

@media screen and (min-width: 768px) {

  .nav-bar {
    display: flex;
    background-color: white;
  }
    

  header {
    display: none;
  }

  .title-bar {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    gap: 2.5vw;
    padding-left: 37vw;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 24px;
    text-align: right;
    color: #1a2236;
    
  }

  .title-bar a {
    text-decoration: none;
    color: #1a2236;
}

.headline {
  width: 110vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main {
  display: flex;
  flex-wrap: wrap;
  width: 46vw;
  height: 30vw;
  margin-top: 10vw;
}

.title, .myname-intro, .button-box, .dot-grid {
  width: 100%;
}

.title {
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 5vw;
  line-height: 100%;
  color: #1a2236;
  margin-inline: 5vw;
  padding-bottom: 1vw;
  height: 10vw;
}

.myname-intro {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5vw;
  line-height: 2vw;
  letter-spacing: -0.01em;
  color: #1a2236;
  margin-inline: 5vw;
}

.button-box {
  width: 20vw;
  height: 4.7vw;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5vw;
  line-height: 0.54vw;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background: #1a2236;
  margin-block: 5px;
  margin-inline: 5vw;
}

.dot-grid {
  display: block;
  margin-top: 0.6vw;
  text-align: right;
}

.image-projects {
  width: 48vw;
}

#main-background1 img {
  display: none;
}

#main-background2 {
  display: block;
  width: 100%;
}

.projects-container {
  width: 100vw;
  height: 40vw;
  display: grid;
  grid-template-rows: repeat(1, 38.75);
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 0;
}

.title-projects {
  grid-area: 1/2/1/2;
  writing-mode: vertical-rl;
  transform: rotate(180deg);  
  font-size: 5.7vw;
  margin-inline: 0vw;
  padding-bottom: 0vw;
  align-self: start;
}

.dot-grid-projects {
  display: block;
  grid-area: 1/3/1/3;
}

.menu-projects-main {
  grid-area: 1/4/1/4;
  width: 66.6vw;
  height: 38.75vw;
  background-image: url('Images SVG/Projects1.svg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 0vw;
}

#goes-here-section {
  display:block;
  grid-row: 1;
  grid-column: 4;
  height: 25vw;
  background-color: #1a2236;
  position: relative;
  top:14vw;
  
}

.background-projects img {
  display: none;
  width: 66.6vw;
  height: 38.75vw;

}

.projects-title {
  max-width: 100vw;
  height: 5vw;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 4.3vw;
  font-weight: 300;
  line-height: 80%;
  color: white;
  margin-block: 20px;
  margin-inline: 3vw;
  background-color: #1a2236;
}
.menu-languages {
  display: grid;
  height: 6.3vw;
  width: 66.6vw;
  grid-template-columns: repeat(3, 12.7vw);
  grid-gap: 0.6vw;
  list-style: none;
  padding: 0;
  margin-block: 20px;
  margin-inline: 3vw;
}

.language-button {
  width: 11.7vw;
  height: 3.3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #98dede;
  font-family: Poppins, sans-serif;
  font-size: 1.14vw;
  font-weight: 300;
  line-height: 2.51vw;
}

.project-button {
  margin-inline: 3vw;
  width: 20vw;
  height: 3.8vw;
  border: 1px solid gainsboro;
  background: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 1.5vw;
  text-align: center;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.project-button img {
  margin-inline: 2vw;
  width: 2vw;
  height: 1.5vw;
}






.menu-projects {
  display:none;
}

.about-skills {
  width: 100vw;
  height: 45vw;
  display: flex;
  flex-direction: row-reverse;
  align-content: space-around;

}

#templates-container {
  margin-left: 11.1vw;
  width: 40.23vw;
  height: 40.23vw;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 0cm;
}

#language-template {
  grid-row: 1;
  grid-column: 1;
  width: 20.1vw;
  height: 20.1vw;
  background-color: #1c528a;
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 0px;
}

#frameworks-template {
  grid-row: 1;
  grid-column: 2;
  width: 20.1vw;
  height: 20.1vw;
  background-color: #e2505c;
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 0px;
}

#skills-template {
  grid-row: 2;
  grid-column: 1;
  width: 20.1vw;
  height: 20.1vw;
  background-color: #febf52;
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 0px;
}

#dot-grid-template {
  display:block;
  grid-row: 2;
  grid-column: 2;
  background-image: url('Images SVG/Bluesquare.svg');
  background-repeat: no-repeat;
  background-size: 4.3vw;
  background-position: right top;
  margin-left: 4.7vw;
  padding-top: 4vw;
  margin-top: 5vw;
}

#dot-grid-template img {
  display: block;
  width: 11.1vw;
}


.templates-title {
  width: 8vw;
  height: 3vw;
  margin-top: 20px;
  margin-left: 5.7vw;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 1.29vw;
  line-height: 1.83vw;
  color: white;
}

.list-container {
  width: 11vw;
  height: 8vw;
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  color: white;
  margin: 10px 0px 0px 40px;
}

.template-item {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  line-height: 1.7vw;
  letter-spacing: -0.0125em;
  color: white;
}

.contact {
  background-image: url('Images SVG/image-geometry_6.svg'), url('Images SVG/image-geometry_7.svg');
  background-position: left top, right bottom;
  background-repeat: no-repeat;
  margin-left: 0vw;
  margin-top: 0vw;
  padding-top: 0vw;
  width: 100vw;
  height: 62vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.get {
  text-align: center;
  margin-top: 10vw;
  padding-bottom: 0px;
  font-size: 7.5vw;
  line-height: 100%;
  font-family: 400;
  height: 8vw;
}

.started {
  width: 37.64vw;
  height: 4vw;
  font-size: 1.1vw;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-weight: 400;
}


form {
  width: 100vw;
  height: 40vw;
}

.name-email {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2vw;
  margin-left: 10vw;
}


.form-row {
  display: flex;
  flex-direction: column;
  width: 18.82vw;
  gap: 0.6vw;
  align-items: left;
}

.form-row label {
  width: 10vw;
  font-size: 0.9vw;
  font-weight: 400;
  line-height: 0.7;
  color: #7d7c84;
  font-family: "Poppins", serif;
}

.form-row input {
  width: 18.82vw;
  border-radius: 0.7vw;
  border: 1px solid #dfdfe0;
  color: #1a2236;
  height: 52px;
  padding-top: 23px;
  padding-bottom: 8px;
  padding-left: 16px;
  font-size: 14px;
  font-family: "Poppins", serif;
  margin-bottom: 9px;
}

#label-textarea {
  margin-left: 35vw;
}

.form-row textarea {
  margin-left: 35.5vw;
  width: 41vw;
  height: 10vw;
  font-size: 14px;
  overflow: hidden;
  border-radius: 1.25vw;
  border: 1px solid #dfdfe0;
  color: #1a2236;
  font-family: "Poppins", serif;
  margin-bottom: 9px;
}

#contact-button {
  margin-left: 40vw;
  margin-top: 2vw;
}

footer {
  background-color: #1a2236;
  color: #92dcdc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 12.76vw;
}

.footer-resume {
  display: none;
}

.footer-resume-desktop {
  display: flex;
  align-items: center;
  gap: 2.4vw;
  margin-top: 1vw;
  font-size: 1.7vw;
  font-family: "Poppins", serif;
  width: 15vw;
  margin-left: 10vw;
}

.footer-resume-desktop img {
  width: 2vw;
  height: 2vw;
}

.social-media {
  display: flex;
  list-style: none;
  justify-content: space-around;
  gap: 2vw;
  width: 30vw;
  margin-top: 12vw;
  margin-right: 10vw;
}

.social-media img {
  width: 2vw;
  height: 2vw;
}


}